
body{
    background-color: #272B30;
    
}
.top-img img {
    max-height: 30vh;
    object-fit: cover;
 }
.nav-container{
    background-color: #3A497B;
    transform: translateY(-50%);
}
@media (min-width: 1400px) {
  #nav .container {
      max-width: 1121px;
  }
}

li a{
    color: white !important;
    font-size: 12px !important;
}

.loading{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.loader {
    
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
    
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #00ff08;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
.card{
  filter: grayscale(70%);
  transition: all 0.5s ease;

}
  .card:hover{
    filter: none;
    transform: scale(1.05);
    transition: 0.5s;
  }
  .card img{
    padding: 10px;
    
  }

  #gameInfo{
    
      z-index: 1000;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #27282B;
      left: 0;
      top: 0;
  }
  
  .nav-item .nav-link.active,
.nav-item .nav-link:hover {
   color: #09c !important;
   transition: color 0.5s;
}

h5{
  font-size: 12px;
}
#gameInfo {
  display: block;
}
